@import 'tailwindcss';

@import './fonts.css';
@import './layouts/footer.css';
@import './layouts/header.css';

@import './components/main-slider.css';
@import './components/category.css';
@import './components/service.css';
@import './components/promo.css';
@import './components/faq.css';
@import './components/referenc-slider.css';
@import './components/advantages.css';
@import './components/page-product.css';
@import './page/home.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 1.25;
    background: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.center {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: hidden;
}

.intro {
   padding: 30px 0;
}

.intro h2 {
    font-size: clamp(24px, 3vw, 32px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    color: #000;
}

.intro p {
    font-weight: 400;
    color: #42403F;
    font-size: clamp(14px, 2.7vw, 20px);
    line-height: 1.6;
}

.intro p + p {
    margin-top: 2.2em;
}

/* 1024px - 769px: планшет горизонталь */
@media (max-width: 1024px) {
    .intro {
        padding: 25px 0;
    }

    .intro h2 {
        margin-bottom: 32px;
    }

    .intro p + p {
        margin-top: 1.8em;
    }
}

/* 768px - 576px: планшет вертикаль */
@media (max-width: 768px) {
    .intro {
        padding: 20px 0;
    }

    .intro h2 {
        font-size: 26px;
        margin-bottom: 28px;
    }

    .intro p {
        font-size: 16px;
    }

    .intro p + p {
        margin-top: 1.5em;
    }
}

/* 575px - 390px: мобіли */
@media (max-width: 575px) {
    .intro {
        padding: 18px 0;
    }

    .intro h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .intro p {
        font-size: 15px;
        line-height: 1.5;
    }

    .intro p + p {
        margin-top: 1.3em;
    }
}

/* 390px і менше: малі мобіли */
@media (max-width: 390px) {
    .intro {
        padding: 16px 0;
    }

    .intro h2 {
        font-size: 20px;
        margin-bottom: 18px;
    }

    .intro p {
        font-size: 14px;
    }

    .intro p + p {
        margin-top: 1.2em;
    }
}
