@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
@import 'tailwindcss';

@import './layouts/footer.css';
@import './layouts/header.css';

@import './components/main-slider.css';
@import './components/product/card.css';
@import './components/service.css';

@import './components/advantages.css';
@import './components/page-product.css';

@import './page/home.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

:root {
    --inter: "Inter", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
    --akcent: #4DB4E8;
    --title: #111111;
    --body: #333333;
    --green: #0F3D2E;
    --orange: #EA580C;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    font-size: clamp(14px, 1.5vw, 20px);
    line-height: 1.25;
    color: var(--body);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title);
    font-family: var(--roboto);
    font-weight: 600;
}

p + p {margin-top: 40px;}
@media (max-width: 767px) {
    p + p {margin-top: 30px;}
}

img {
    max-width: 100%;
    display: block;
}

.center {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    background: var(--orange);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 48px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 32px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        width: 0;
        background: var(--akcent);
        transition: all 0.3s;
    }

    &:hover:after {width: 100%;}
}
