.main-slider {
    color: #fff;
    text-align: right;
    position: relative;

    swiper-slide {
        position: relative;
        width: 100%;
        min-height: 440px;
        padding: 60px 0 30px 0;
        display: flex;

        &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            z-index: 1;
            background: linear-gradient(204deg, rgba(0,0,0,.7) -20%, transparent);
        }

        @media (max-width: 768px) {
            min-height: 360px;
        }
    }

    .center {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
    }

    h1, h2 {
        font-weight: 900;
        font-size: clamp(32px, 8vw, 64px);
        font-family: "Akatab", sans-serif;
        line-height: 1.1;
        color: #29aae1;
    }

    h2 {font-size: 40px;}

    .text {
        font-size: 30px;
        font-weight: bold;
        margin-left: auto;
    }

    @media (max-width: 768px) {
        .text {font-size: 20px;}
    }
}
