.service {
  background: #f5f5f5;
  margin-top: 120px;

  .center {
    display: flex;
    align-items: center;
    height: 260px;
    position: relative;
  }

  .wrap {
    display: flex;
    width: 100%;
    gap: 30px;
  }
}

.service-item {
  max-width: 276px;
  width: 100%;

  h3 {
    font-size: clamp(20px, 2.5vw, 30px);
    font-weight: 700;
    margin-bottom: 8px;
  }

  p {
    color: #333;
    font-size: clamp(14px, 2.5vw, 20px);
  }
}

.service-manager {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 225px;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: bottom;
  }
}

@media (max-width: 1120px) {
  .service {
    .center {
      height: 225px;
    }

    .wrap {
      gap: 10px;
    }
  }

  .service-manager {
    width: 195px;
  }
}

@media (max-width: 1024px) {
  .service {
    .wrap {
      flex-wrap: wrap;
      gap: 25px;
    }
  }

  .service-item {
    max-width: 40%;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .service {
    margin-top: 80px;

    .center {
      height: auto;
    }

    .wrap {
      flex-direction: column;
      padding: 10px 0 5px 0;
      gap: 15px;
    }
  }

  .service-item {
    max-width: 100%;
    padding-right: 144px;
  }

  .service-manager {
    width: 170px;
  }
}