.service {
    background: #F2F6F2;
    margin-top: 120px;
    min-height: 260px;
    display: flex;

    .center {
        display: flex;
        align-items: center;
        position: relative;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }

    li {
        max-width: 276px;
        width: 100%;
        &:last-child {max-width: 234px;}

        h3 {
            font-family: var(--inter);
            font-weight: bold;
            font-size: clamp(20px, 2.5vw, 30px);
            margin-bottom: 5px;
        }
    }

    .manager {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 225px;

        img {
            width: 100%;
            display: block;
            object-fit: contain;
            object-position: bottom;
        }
    }

    @media (max-width: 1200px) {
        ul {max-width: 800px;}
    }

    @media (max-width: 768px) {
        margin-top: 80px;
        min-height: auto;

        ul {
            padding: 15px 0;
            flex-direction: column;
            gap: 15px;
        }

        .manager {width: 170px;}
    }

    @media (max-width: 500px) {
        li {max-width: 187px;}
        .manager {width: 175px;}
    }

    @media (max-width: 360px) {
        .manager {right: -35px;}
    }
}
