.category-grid {
    padding: 30px 0 0;

    .center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }

    @media (max-width: 500px) {
        .center {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }
}
